body{
    margin: 0px;
    padding: 0px;
}


.slider-container{
    width: 100%;
    padding:10px 0px;
    overflow: hidden;
}

.slider-lens{
    /* background-color: ; */
    /* display: flex; */
}
.slider-container .slider-lens .slider-item{
    /* background-color: ; */
    /* width: 1366px; */
    display: inline-block;

    background-color: lightgrey;

    /* border:.5px solid lightgrey; */

}